.App {
  text-align: center;
  color: white;
}

.header {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  max-width: 60%;
}

.container {
  max-width: 90%;
}

.certificate {
  max-width: 85%;
}

.skill_break {
  display: none
}

@media only screen and (min-width: 500px) {
  .image {
    max-width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  .image {
    max-width: 30%;
  }

  .certificate {
    max-width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .image {
    max-width: 20%;
  }

  .skill_break {
    display: flex
  }

}

.GitHubLogo {
  position: absolute;
  left: 10px;
}

.Item {
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #61dafb;
}

.Item:hover {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
}

.Navigation {
  min-height: 6vh;
  background-color: #282c34;
  top: 0;
  text-align: right;
  padding: 1rem;
  margin-bottom: 1rem;
}

.Scrolled {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  background-color: #282c34;
}

.Skills {
  padding-bottom: 3rem;
}

.Skill {
  border-radius: 3px;
  border: none;
  color: white;
  background-color: rgb(57, 65, 65);
  display: inline-block;
  margin: 2px;
  padding: 10px 16px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.Skill:hover {
  background-color: #61dafb;
  transform: scale(1.04);
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animateSlow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.three {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}